<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258994720387-r8e1md439ak57ts4u42s0tdmdvdhlqbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258994720387-r8e1md439ak57ts4u42s0tdmdvdhlqbv</string>
	<key>API_KEY</key>
	<string>AIzaSyBzquHX_i0cSgEXEL014Zqs28cT1dmbIdc</string>
	<key>GCM_SENDER_ID</key>
	<string>258994720387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reyhan.FoodFlickInterview</string>
	<key>PROJECT_ID</key>
	<string>learning-a9d98</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-a9d98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258994720387:ios:9369b3619c0a5dd83795b6</string>
</dict>
</plist>